@using BreatheEasyApp.Models
@using Microsoft.AspNet.Identity
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Plushiness
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131117

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    @Styles.Render("~/Content/css")
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
    <link href="~/Content/default.css" rel="stylesheet" />
    <link href="~/Content/fonts.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    
   
    <!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
    <div id="header-wrapper">
        <div id="header" class="container">
            <div id="logo">
                
                <img height="200" width="200" src="~/Content/Images/NoSmokingIcon1.png" />

                <h1><a href="#">Breathe Easy</a></h1>
               Created by Robert Garlock
            </div>
            <div id="triangle-up"></div>
        </div>
    </div>
    <div id="menu-wrapper">
        <div id="menu">
            <ul>
               
                @if (Request.IsAuthenticated)
                {
                    <li style="float: inherit;">@Html.Partial("_LoginPartial")</li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Dashboard", "Dashboard", "Home")</li>
                    <li>@Html.ActionLink("Edit Info", "Edit", "UserInfoes")</li>

                }
                else
                {
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li style="float: inherit;">@Html.Partial("_LoginPartial")</li>

                }
                
            
            </ul>
        </div>
    </div>
    <div id="wrapper" class ="@ViewBag.Title">
        @RenderBody()
    </div>
   
<div id="copyright" class="container">
    <p>&copy; Robert Garlock | Made at Claim Academy | Design by Robert Garlock.</p>
</div>
    
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery.arctext.js"></script>">
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>

