@model BreatheEasyApp.Models.ViewModels.QuoteResponse

@{
    ViewBag.Title = "GetApi";
}


<h2>GetApi</h2>

<div>
    <h4>QuoteResponse</h4>
    <hr />
    @Html.DisplayFor(model => model.Contents.Quotes[0].Quote)<br/>
    @Html.DisplayFor(model => model.Contents.Quotes[0].Author)<br/>
    @Html.DisplayFor(model => model.Contents.Quotes[0].Background)<br/>
    @Html.DisplayFor(model => model.Contents.Quotes[0].PermaLink)<br/>
    @ViewBag.ResponseText
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
